@use 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Chewy';
        src: local('Chewy'), local('chewy'),
			url('/fonts/chewy/Chewy-Regular.ttf');
            font-weight: normal;
            font-display: swap;
    }

    @font-face {
        font-family: 'Atkinson Hyperlegible';
        src: local('Atkinson Hyperlegible'), local('Atkinson-Hyperlegible'), local('atkinson hyperlegible'), local('atkinson-hyperlegible'),
        url('/fonts/atkinson-hyperlegible/AtkinsonHyperlegible-Regular.ttf');
        font-weight: normal;
        font-display: swap;
    }
   
}

$base: 4px;
$spacing-xs: $base;
$spacing-sm: calc(2*$base);
$spacing-md: calc(4*$base);
$spacing-lg: calc(8*$base);
$spacing-xl: calc(16*$base);
