:global(html) {
    background-image: linear-gradient(to top, var(--primary-bg-color), transparent);
    background-color: var(--secondary-bg-color);

    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: var(--text-color);

    transition: color, background-color 300ms ease-in-out;
}