
:root{
    --base: 4px;
    --spacing-xs: var(--base);
    --spacing-sm: calc(2*var(--base));
    --spacing-md: calc(4*var(--base));
    --spacing-lg: calc(8*var(--base));
    --spacing-xl: calc(16*var(--base));

    --burger-menu-width: 400px;
    --burger-menu-padding: 1em;

    --text-color: white;
    --primary-bg-color: rgb(9 82 92);
    --secondary-bg-color: #4bb4e9;
    --primary-accent-color: rgb(32, 104, 146);
    --secondary-accent-color: rgb(0, 113, 178);

    &[data-theme="storm"] {
        --text-color: white;
        --primary-bg-color: #626060;
        --secondary-bg-color: #394651;
        --primary-accent-color: #c8c392;
        --secondary-accent-color: #dac90d;
    }

    &[data-theme="sun"] {
        --text-color: white;
        --primary-bg-color: #ffdd55;
        --secondary-bg-color: #80d9cf;
        --primary-accent-color: #f8ad20;
        --secondary-accent-color: #fb6d25;
    }

    &[data-theme="rain"] {
        --text-color: white;
        --primary-bg-color: #728aa1;
        --secondary-bg-color: #2e72cb;
        --primary-accent-color: #0b3b79;
        --secondary-accent-color: #004195;
    }

    &[data-theme="snow"] {
        --text-color: white;
        --primary-bg-color: #d1d9e6;
        --secondary-bg-color: #ffffff;
        --primary-accent-color: #507681;
        --secondary-accent-color: #75a3b0;
    }

    &[data-theme="cloud"] {
        --text-color: white;
        --primary-bg-color: #6d7876;
        --secondary-bg-color: #d7d6d6;
        --primary-accent-color: #363636;
        --secondary-accent-color: #545454;
    }

}